<div class="content">
  <div class="image-container">
      <img src="assets/images/angMov.gif" alt="Angular Animation" />
  </div>
  <h2>¿Qué es Angular?</h2>
  <p>
    Angular es un framework y una plataforma de desarrollo, construida sobre TypeScript. Se utiliza para crear aplicaciones web de una sola página que incluye:
  </p>
  <ul>
    <li>Un marco basado en componentes para crear aplicaciones web escalables</li>
    <li>Una colección de bibliotecas bien integradas que cubren una amplia variedad de funciones, incluido el enrutamiento, la gestión de formularios, la comunicación cliente-servidor y más.</li>
    <li>Un conjunto de herramientas para desarrolladores que le ayudarán a desarrollar, crear, probar y actualizar su código.</li>
  </ul>
  <p>
    Cuando creamos aplicaciones con Angular, aprovechas una plataforma que puede escalar desde proyectos de un solo desarrollador hasta aplicaciones de nivel empresarial. Angular está diseñado para que la actualización sea lo más sencilla posible, de modo que puedas aprovechar los últimos desarrollos con un mínimo esfuerzo.
  </p>
  <p>
    Lo mejor de todo es que el ecosistema Angular consta de un grupo diverso de más de 1,8 millones de desarrolladores, autores de bibliotecas y creadores de contenido.
  </p>
  <h3>CLI de Angular</h3>
  <p>
    CLI de Angular es la forma más rápida, sencilla y recomendada de desarrollar aplicaciones Angular.
  </p>
  <p>La CLI de Angular facilita una serie de tareas como:</p>
  <ul>
    <li><code>ng build</code>, que compila una aplicación Angular en un directorio de salida.</li>
    <li><code>ng serve</code>, que construye y sirve su aplicación, reconstruyéndola según los cambios de archivo.</li>
    <li><code>ng generate</code>, que genera o modifica archivos basándose en un esquema.</li>
    <li><code>ng test</code>, que ejecuta pruebas unitarias en un proyecto determinado.</li>
    <li><code>ng e2e</code>, que crea y sirve una aplicación Angular, luego ejecuta pruebas de extremo a extremo.</li>
  </ul>
</div>
