<nav class="sidebar">
  <ul>
    <li routerLinkActive="active">
      <a routerLink="/justificacion">Justificación</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/instalacion">Instalación</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/primeros-pasos">Primeros Pasos</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/utilizacion">Utilización</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/funcionamiento">Funcionamiento</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/conclusiones">Conclusiones</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/recomendaciones">Recomendaciones</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/problemas-comunes">¿Cómo resolver problemas comunes?</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/recursos">Recursos</a>
    </li>
  </ul>
  
  <!-- Enlace de GitHub con marco -->
  <a href="https://github.com/gilbertoeh" class="github-link" target="_blank">
    Visita mi GitHub
  </a>
</nav>

<footer>
  <p class="footer-text">© 2024 - Tutorial desarrollado por Gilberto Hernandez</p>
  <a href="https://github.com/gilbertoeh" class="github-link" target="_blank">
    Visita mi GitHub
  </a>
</footer>

